<div class="jumbotron">
    @*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    @{ 
        ViewBag.Title = "Angular Page";
    }*@

    @section Scripts{
    
        @Scripts.Render("~/bundles/scripts")

        }
    <app-root></app-root>
</div>
